
<table #myTable id="myTable">
  <thead>
  <tr>
    <th></th>
    <th></th>


    @for (th of TableHeaderArray; track th; let i = $index) {
      <th>
        <button (click)="addHeaderColumnNextTo(i)">{{th}}</button>
        <button (click)="deleteHeaderColumn(i)">DEL</button>
        <button (click)="SortHeaderColumn(i)">SORT</button>
        <button (click)="AddColumnValues(i)">SUM</button>
      </th>
    }

  </tr>
  </thead>
  <tbody>


    @for (row of TableRowArray; track row.id; let i = $index) {

      <tr [ngClass]="{'thin-row':row.isSelected}">
        <th><input type="checkbox" (change)="ToggleRowVisibility(i)"></th>


        <th>
          <button (click)="AddCellValues(row.id)">SUM</button>
          <button [hidden]="row.isSelected" (click)="SortRow(i)">SORT</button>
          <button (click)="deleteTableRow(i)">DEL</button>
          <button (click)="addRowBelow(i)">{{row.id}}</button>
        </th>


        @for (cell of row.cells; track cell.id) {
          <td [hidden]="row.isSelected" [contentEditable]="true" [textContent]="cell.value" (input)="updateCellValue(row.id, cell.id, $event)"
              [ngClass]="{
      'red-cell': isNumber(cell.value) && Number(cell.value) < 0,
      'yellow-cell': isNumber(cell.value) && Number(cell.value) >= 0 && Number(cell.value) <= 10,
      'green-cell': isNumber(cell.value) && Number(cell.value) > 10,
      'Selected-cell': cell.isSelected}"
          >
          </td>


        }
      </tr>

    }
  </tbody>

</table>

<button (click)="test()">
  Show the Array
</button>
<button (click)="logTableData()">Log Table Data</button>
<button (click)="fillTableData()">Fill Table</button>
<button (click)="sortTableData()">Sort Table</button>
<button (click)="exportToExcel()">Export to Excel</button>

<div>
<button (click)="addRow()">Set Number of Rows to {{ rowInput }}</button>
<input type="number" [(ngModel)]="rowInput"/>
</div>

<div>
<button (click)="addHeader()"> Set Number of Headers to {{ headerInput }}</button>
<input type="number" [(ngModel)]="headerInput" />
</div>


<div>
  <button (click)="AddCellValuesForAllRows()">Sums of Rows</button>
</div>

<div>
  <button (click)="SearchForValue(SearchValue)">Select Cells with {{SearchValue}}</button>
  <input [(ngModel)]="SearchValue">
  <button (click)="DeSelectCells(SearchValue)"> Deselect Cells with {{SearchValue}}</button>
</div>



